/* Styles go here */

.jumbotron{
  text-align: center;
  margin-bottom: 20px;

  color: #fff;
 
}


.card {
  /*flex-md-row mb-4 box-shadow h-md-250*/
  display: flex;
  margin-bottom: 4px;
  width: 100%;
  
}
.card-img-top{
  height: 225px;
  width: 100%;
  display: block;
}

.card-body{
  height: 200px;
  overflow: auto;
  text-align: center;
  
}
.card-text{
  font-size: 1em;
}
.assignCard-title{
  color: #fff;
  text-decoration: none;
}
.topImg:hover .text {
  opacity: 1;
}
.topImg:hover .card-img-top{
  opacity: .3;
}


.text {
  color: black;
  font-size: 3em;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  
}