/* Styles go here */

.jumbotron{
  text-align: center;
  margin-bottom: 20px;

  color: #fff;
 
}


.card {
  /*flex-md-row mb-4 box-shadow h-md-250*/
  display: flex;
  margin-bottom: 4px;
  width: 100%;
  
}
.card-img-top{
  height: 225px;
  width: 100%;
  display: block;
}

.card-body{
  height: 200px;
  overflow: auto;
  text-align: center;
  
}
.card-text{
  font-size: 1em;
}