
/************* STARTING NVELOPES 2 HERE **********/
.card-container{
	position:relative;
	/*background-color: green;*/
}
card-body{
	bottom: 5px;
	color: #fff;
}
.card {
	text-align: center;
}

.jumbotron {
	text-align: center;
}
	
.card-edit{
	float:right;
	}
